{%- if site.analytics.gtm -%}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.analytics.gtm }}" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{%- else  -%}
{%- if site.analytics.ga  -%}
{%- comment -%}
No Google Analytics gtag.js exists for body so this section will return a blank.
{%- endcomment -%}
{%- endif -%}
{%- else  -%}
<!-- No Analytics Added -->
{%- endif -%}
