{% if site.social_links.facebook %}
<!--facebook link-->
<a class="nav-link" href="https://www.facebook.com/{{ site.social_links.facebook }}"><span><i
            class="nav-item fab fa-facebook"></i></span></a>
{% endif %}

{% if site.social_links.twitter %}
<!--twitter link-->
<a class="nav-link" href="https://twitter.com/{{ site.social_links.twitter }}"><span><i
            class="nav-item fab fa-twitter"></i></span></a>
{% endif %}

{% if site.social_links.instagram %}
<!--instagram link-->
<a class="nav-link" href="https://www.instagram.com/{{ site.social_links.instagram }}"><span><i
            class="nav-item fab fa-instagram"></i></span></a>
{% endif %}

{% if site.social_links.youtube %}
<!--youtube link-->
<a class="nav-link" href="https://www.youtube.com/channel/{{ site.social_links.youtube }}"><span><i
            class="nav-item fab fa-youtube"></i></span></a>
{% endif %}

{% if site.social_links.github %}
<!--github link-->
<a class="nav-link" href="https://github.com/{{ site.social_links.github }}"><span><i
            class="nav-item fab fa-github-square"></i></span></a>
{% endif %}

{% if site.social_links.youtube_channel %}
<!--youtube_channel link-->
<a class="nav-link" href="https://www.youtube.com/channel/{{ site.social_links.youtube_channel }}"><span><i
            class="nav-item fab fa-youtube_channel"></i></span></a>
{% endif %}

{% if site.social_links.youtube_channel_name %}
<!--youtube_channel_name link-->
<a class="nav-link" href="{{ site.social_links.youtube_channel_name }}"><span><i
            class="nav-item fab fa-youtube_channel_name"></i></span></a>
{% endif %}

{% if site.social_links.telegram %}
<!--telegram link-->
<a class="nav-link" href="{{ site.social_links.telegram }}"><span><i class="nav-item fab fa-telegram"></i></span></a>
{% endif %}

{% if site.social_links.devto %}
<!--devto link-->
<a class="nav-link" href="{{ site.social_links.devto }}"><span><i class="nav-item fab fa-devto"></i></span></a>
{% endif %}

{% if site.social_links.dribbble %}
<!--dribbble link-->
<a class="nav-link" href="{{ site.social_links.dribbble }}"><span><i class="nav-item fab fa-dribbble"></i></span></a>
{% endif %}

{% if site.social_links.flickr %}
<!--flickr link-->
<a class="nav-link" href="{{ site.social_links.flickr }}"><span><i class="nav-item fab fa-flickr"></i></span></a>
{% endif %}

{% if site.social_links.linkedin %}
<!--linkedin link-->
<a class="nav-link" href="{{ site.social_links.linkedin }}"><span><i class="nav-item fab fa-linkedin"></i></span></a>
{% endif %}

{% if site.social_links.pinterest %}
<!--pinterest link-->
<a class="nav-link" href="{{ site.social_links.pinterest }}"><span><i class="nav-item fab fa-pinterest"></i></span></a>
{% endif %}
